.App {
  text-align: center;
}

div section button {
  margin: 5% 2%;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.movie-grid div {
  background-color: lightblue;
}